/* Navbar */
.custom-navbar {
  background: transparent;
}





body {
  padding-top: 90px; /* navbar height */
}



/* Hero */
.hero-section {
  height: 100vh;
  background: url("/hero.jpg") center/cover no-repeat;
  position: relative;
}

.hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Horizontal Scroll */
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.cause-card {
  min-width: 250px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cause-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Footer */
.footer ul li {
  margin-bottom: 8px;
}



html {
  scroll-behavior: smooth;
}